<div class="menu-bar_container">
  <div class="menu-bar_logo">
    <img
    src="assets/ps-logo.png"
    alt="playstation logo"
    srcset=""
    width="140px"
    height="32px"
    >
  </div>
  <div class="menu-bar_item">
    <ul>
      <li><a href="https://www.youtube.com/@diomakethechange" target="_blank">Youtube</a></li>
      <li><a href="https://www.linkedin.com/in/jefflalcan/" target="_blank">Linkedin</a></li>
      <li><a href="https://github.com/Jeffalcan/" target="_blank">Github</a></li>
    </ul>
  </div>
</div>
